.home {
    background-image: url(../img/fundo.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    width: 100%;
    gap: 30px;
    grid-template-areas: 
    "logo taca"
    "titulo taca"
    "paragrafo taca"
    "botao taca";
}
.logo_fifa_world{
    grid-area: logo;
    margin-top: 50px;
    margin-left: 30px;
    height: 125px;
}
.home__play{
    grid-area: titulo;
    margin-left: 30px;
    font-size: 70px;
    letter-spacing: 5px;
    color: rgb(27, 30, 57);
    font-family: 'Bebas Neue', cursiva;
}
.home__cup{
    grid-area: titulo;
    margin-top: 80px;
    margin-left: 30px;
    font-size: 70px;
    letter-spacing: 5px;
    color: rgb(27, 30, 57);
    font-family: 'Bebas Neue', cursiva;
}
.home__vivencie{
    grid-area: paragrafo;
    font-size: 20px;
    color: rgb(27, 30, 57);
    font-family: 'Bebas Neue', cursiva;
    margin-bottom: 150px;
    margin-left: 30px;


}
.home__nine{
    grid-area: paragrafo;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 30px;
    color: rgb(27, 30, 57);
    font-family: 'Bebas Neue', cursiva;
}
.taca{
    grid-area: taca;
    margin-top: 25px;
    
}

.home__bpreveja{
    grid-area: botao;
    display: flex;
    color: white;
    align-items: center;
    background-color: rgb(31, 31, 37);
    border-radius: 5px;
    margin-left: 30px;
    margin-top: -100px;
    justify-content: center;
    width: 150px;
    height: 50px;
}
.home__bmais{
    width: 150px;
    height: 50px;
    display: flex;
    color: white;
    margin-left: 350px;
    margin-top: -100px;
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(31, 31, 37);
    border-radius: 5px;
    grid-area: botao;
}
