.sobre{
    background-image: url(../img/fundo.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    width: 100%;
    grid-template-areas: 
    "pergunta pergunta"
    "paragrafo imagem";
}
.sobre__question{
    grid-area: pergunta;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    letter-spacing: 8px;
    color: rgb(37, 36, 36);
    font-size: 150px;
}
.grealish{
    grid-area: imagem;
    height: 450px;
}
.sobre__textA{
    width: 600px;
    height: 150px;
    margin-top: 50px;
    margin-left: 50px;
    grid-area: paragrafo;
    color: rgb(27, 30, 57);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
}
.sobre__textB{
    width: 600px;
    height: 150px;
    margin-top: 180px;
    margin-left: 50px;
    grid-area: paragrafo;
    color: rgb(27, 30, 57);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
}
